# Node modules
node_modules
npm-debug.log

# Build output
dist
.build

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*  # In case you use .env.production or .env.development

# IDE/editor settings
.vscode
.idea

# Git
.git
.gitignore

# Docker ignore itself
.dockerignore

# Tests and coverage
coverage
test
*.spec.ts
